@import 'styles/variables';

.market-performance-1 {
	.content-container {
		.median-prices {
			margin-top: 55px;
			display: flex;

			.at-a-glance {
				width: 450px;
				margin-right: 15px;
				.title {
					font-size: $medium-text;
					margin-bottom: 5px;
				}
				.description {
					width: 350px;
					height: 250px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.chart-container {
				margin-top: -100px;
				flex: 1;

				.section-title {
					align-items: flex-end;
					margin-bottom: 15px;
				}

				.legend-container {
					width: 375px;
					justify-content: space-between;
					display: flex;
					font-size: $normal-text;
					font-weight: $normal-weight;

					.legend {
						display: flex;
						flex-direction: column;

						.row {
							margin-left: -22px;
							display: flex;
							align-items: center;
							.icon {
								margin-right: 5px;
							}
						}
					}
				}

				.chart {
					height: 350px;
				}
			}
		}
	}
}
