@import 'styles/variables';

.market-performance {
	.content-container {
		.retail-distressed-sales-container {
			margin-top: 35px;
			.section-title {
				margin-bottom: 25px;
			}
			.chart-row {
				display: flex;
				.info-container {
					margin-top: 0px;
					width: 358px;
				}
				.chart-container {
					.chart {
						margin-top: 0;
					}
				}
			}
		}
	}
}
