@import 'styles/variables.scss';

.cover-container {
	.cover-header-container {
		grid-area: header;
		font-size: $sub-text;
		height: 165px;
		display: grid;
		grid-template-columns: 1fr 501px;
		grid-template-rows: 104px 1fr;
		grid-template-areas:
			'logo information'
			'logo publish-date';
		padding-left: $side-spacer;

		.logo {
			grid-area: logo;
			width: 300px;
			margin-top: 33px;
		}

		.information {
			grid-area: information;
			background: $wild-sand;
			padding-right: $side-spacer;
			padding-left: 55px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.info-container {
				display: flex;
				flex-direction: column;
				text-align: left;
				max-width: 34%;

				.text {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
		.publish-date {
			grid-area: publish-date;
			padding-right: $side-spacer;
			text-align: right;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			.publish-date-row {
				display: flex;
				justify-content: flex-end;
				text-align: right;

				.title {
					margin-right: 10px;
				}
			}
		}
	}
}
