@import 'styles/variables.scss';
@import './CoverHeader.scss';

.cover-container {
	display: grid;
	grid-template-areas: 'header' 'sub-header' 'content' 'footer';
	.cover-sub-header {
		grid-area: sub-header;
		font-size: $title-text;
		font-weight: $heavy-weight;
		padding: 20px $side-spacer 31px;
	}
}
