@import 'styles/variables.scss';

.cover-container {
	.content-container {
		.subject-property-container {
			height: 672px;
			.image-container {
				height: 536.25px;
			}
			.info-row-1,
			.info-row-2 {
				background: $black;
				color: $white;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0px 30px 0px 20px;
			}
			.info-row-1 {
				height: 100px;
				.address {
					font-size: $extra-large-text;
				}
				.city-state-zip {
					font-size: $large-text;
				}
				.dwelling-type {
					color: $black;
					background: $white;
					font-size: $medium-text;
					padding: 5px 22px;
				}
			}
			.info-row-2 {
				height: 150px;
				font-weight: $medium-weight;
				.info-container {
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-evenly;

					.icon-bath {
						g {
							fill: $white;
						}
					}

					.value {
						font-size: $title-text;
						font-weight: $heavy-weight;
					}
				}
			}
		}
	}
}
