// Colors
$alto: #dddddd;
$azure: #3a62a3;
$azure-05: rgba(58, 98, 163, 0.5);
$black: #000000;
$gray: #888888;
$neptune: #71baaf;
$neptune-05: rgba(113, 186, 175, 0.5);
$white: #ffffff;
$wild-sand: #f4f4f4;

// Spacing
$side-spacer: 100px;

// Font Sizes
$title-text: 43px;
$extra-large-text: 35px;
$large-text: 32px;
$medium-text: 24px;
$medium-normal-text: 19px;
$normal-text: 17px;
$small-text: 16px;

// Font Weights
$heavy-weight: 700; //bold
$medium-weight: 500;
$normal-weight: 400;
$light-weight: 300;
