// Colors
$azure: #3a62a3;
$black: #000000;
$gray: #888888;
$neptune: #71baaf;
$white: #ffffff;
$wild-sand: #f4f4f4;

// Spacing
$padding-sides: 100px;

// Font Sizes
$default-text: 19px;
$sub-text: 17px;
$footer: 16px;
