@import 'styles/variables';

.property-characteristics-container {
	flex: 1;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	.section-title {
		margin-bottom: 15px;
	}
	.marker-container {
		display: flex;
		align-items: center;
		font-size: $normal-text;
		font-weight: $medium-weight;
		.marker {
			width: $normal-text;
			height: $normal-text;
			background: $black;
			margin-right: 10px;
		}
	}
	.chart-container {
		background: $wild-sand;
		flex: 1;
		display: flex;
		justify-content: flex-end;
	}

	.table-container {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		.row {
			display: flex;
			justify-content: space-between;

			.column {
				flex: 1;
				text-align: center;
			}

			.first {
				width: 105px;
			}

			&.icon-row {
				margin-top: 10px;
			}
			&.source-1-row {
				font-weight: $heavy-weight;
				margin: 10px 0;

				.value {
					font-size: $large-text;
				}
			}
			&.source-2-row {
				background: $wild-sand;
				font-size: $medium-text;
				padding: 5px 0;
				.first {
					box-sizing: border-box;
					padding-left: 10px;
				}
			}
		}
	}
}
