@import 'styles/variables';
@import './PropertyCharacteristics.scss';
@import './AtAGlance.scss';
@import './PropertyMap.scss';
.subject-property-description-details {
	.content-container {
		padding: 58px $side-spacer 0;

		.property-row {
			display: flex;
			height: 435px;
		}
	}
}
