@import './styles/variables.scss';

body {
	margin: 0;
	font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $normal-text;
	font-weight: $light-weight;
}

.app {
	width: 100%;
	max-width: 1440px;
	margin: auto;
}

.page {
	page-break-after: always;
}

.title {
	font-weight: $heavy-weight;
}

.section-title {
	font-weight: $heavy-weight;
	border-bottom: 1px solid $black;
	font-size: $medium-text;
}

.sub-section-title {
	font-weight: $heavy-weight;
	border-bottom: 1px solid $black;
}

img {
	max-width: 100%;
}
