@import './styles/variables.scss';

body {
	margin: 0;
	font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $default-text;
}

.app {
	width: 100%;
	max-width: 1440px;
	margin: auto;
}

.page {
	page-break-after: always;
}

.title {
	font-weight: bold;
}

.section-title {
	font-weight: bold;
	border-bottom: 1px solid $black;
	font-size: $chart-title;
}

.sub-section-title {
	font-weight: bold;
	border-bottom: 1px solid $black;
}

.footer {
	grid-area: footer;
	padding: 0 $side-spacer;
	font-size: $small-text;
	font-weight: 500;
	color: $gray;
}

img {
	width: 100%;
}
