@import './styles/variables.scss';

body {
	margin: 0;
	font-family: 'Helvetica', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $normal-text;
	font-weight: $normal-weight;
}

.app {
	width: 100%;
	max-width: 1440px;
	margin: auto;
}

.page {
	page-break-after: always;
}
.house-image-container {
	display: flex;
	justify-content: center;
	overflow: hidden;
	align-items: center;
	background: $wild-sand;
	img {
		max-height: 100%;
	}
}
img {
	max-width: 100%;
}

// Titles
.title {
	font-weight: $heavy-weight;
	white-space: nowrap;
}

.section-title {
	font-weight: $heavy-weight;
	border-bottom: 1px solid $black;
	font-size: $large-text;
	white-space: nowrap;
	display: flex;
	justify-content: space-between;
}

.sub-section-title {
	white-space: nowrap;
	font-size: $medium-text;
	font-weight: $heavy-weight;
	border-bottom: 1px solid $black;
	white-space: nowrap;
	display: flex;
	justify-content: space-between;
}

.icon {
	&.black {
		#Cover {
			fill: $black;
		}
	}
	&.white {
		#Cover {
			fill: $white;
		}
	}
	&.red {
		#Cover {
			fill: $thunderbird;
		}
		#Line {
			stroke: $thunderbird;
		}
	}
	&.yellow {
		#Cover {
			fill: $supernova;
		}
		#Line {
			stroke: $supernova;
		}
	}
	&.green {
		#Cover {
			fill: $neptune;
		}
		#Line {
			stroke: $neptune;
		}
	}
	&.blue {
		#Cover {
			fill: $azure;
		}
		#Line {
			stroke: $azure;
		}
	}
	&.legend-icon {
		box-shadow: 0 1px 1px 0 $black-50;
	}
	&.house-round {
		width: 30px;
		height: 29px;
		box-shadow: 0 1px 2px 0 $black-50;
		padding: 5px;
		border-radius: 100%;
		box-sizing: border-box;
		background-color: $white;
	}
	&.confidence-1 {
		#Rectangle {
			fill: #d3d9e4;
		}
		&.retail {
			#Rectangle {
				fill: #e3f1ef;
			}
		}
	}
	&.confidence-2 {
		#Rectangle {
			fill: #b0c0da;
		}
		&.retail {
			#Rectangle {
				fill: #c6e3df;
			}
		}
	}
	&.confidence-3 {
		#Rectangle {
			fill: #89a1c8;
		}
		&.retail {
			#Rectangle {
				fill: #aad6cf;
			}
		}
	}
	&.confidence-4 {
		#Rectangle {
			fill: #6181b5;
		}
		&.retail {
			#Rectangle {
				fill: #8dc8bf;
			}
		}
	}
	&.confidence-5 {
		#Rectangle {
			fill: #3a62a3;
		}
		&.retail {
			#Rectangle {
				fill: #71baaf;
			}
		}
	}
}
