@import 'styles/variables.scss';

.cover-container {
	.content-container {
		.column-content-container {
			.column-container {
				.confidence-score-container {
					margin-top: 28px;
					.score-container {
						background: $wild-sand;
						padding: 20px 10px;
						margin-top: 17px;
						display: flex;
						align-items: center;

						.label-container {
							display: flex;
							flex-direction: column;
							font-weight: $medium-weight;
							margin-right: 5px;
							width: 40%;
							.value {
								font-size: $extra-large-text;
							}
						}
						.image-container {
							display: flex;
							height: 47px;
							align-items: flex-end;
							width: 60%;
							img {
								width: 20%;
							}
						}
					}
				}
			}
		}
	}
}
