@import 'styles/variables';

.additional-property-history {
	.content-container {
		padding: 20px $side-spacer;
		display: grid;
		grid-template-columns: 400px 400px 400px;
		grid-template-rows: 500px 280px 280px 280px;
		gap: 20px;

		.info-column {
			display: flex;
			flex-direction: column;

			.date {
				font-size: $extra-large-text;
			}

			.info {
				background: $wild-sand;
				padding: 20px;
				margin-top: 10px;
				height: 100%;

				.comment {
					margin-top: 35px;
				}
			}
		}
		.hero-image-container {
			grid-column: 2 / span 2;
		}
		.image-container,
		.hero-image-container {
			width: 100%;
			display: flex;
			justify-content: center;
			overflow: hidden;
			align-items: center;
			background: $alto;
			img {
				height: 100%;
			}
		}
	}
}
