@import 'styles/variables';

.additional-property-history {
	.content-container {
		padding: 20px $side-spacer;

		.active-property {
			margin-bottom: 50px;
			display: flex;
			justify-content: space-between;
			height: 375px;

			.info-column {
				display: flex;
				flex-direction: column;
				flex: 1;

				.date {
					font-size: $extra-large-text;
				}

				.info {
					background: $wild-sand;
					padding: 20px;
					margin-top: 10px;
					height: 100%;

					.comment {
						margin-top: 35px;
					}
				}
			}

			.image-container {
				width: 500px;
				margin-left: 20px;
				display: flex;
				justify-content: center;
				overflow: hidden;
				align-items: center;
				background: $alto;
				img {
					height: 100%;
				}
			}
		}

		.photo-container {
			display: grid;
			grid-template-columns: 400px 400px 400px;
			grid-template-rows: 300px 300px 300px;
			gap: 20px 12px;
		}
		.image-container {
			width: 100%;
			display: flex;
			justify-content: center;
			overflow: hidden;
			align-items: center;
			background: $alto;
			img {
				height: 100%;
			}
		}
	}
}
