@import 'styles/variables';

.additional-property-listing {
	.footer-container {
		margin-bottom: 35px;
	}
	.property-listing {
		padding: 50px $side-spacer;
		margin-bottom: 50px;
		display: grid;
		grid-template-columns: 400px 400px 400px;
		grid-template-rows: 300px 300px 300px 300px;
		gap: 25px 12px;
	}
}
