@import 'styles/variables';

.subject-property-history {
	.most-recent-listings {
		padding: 25px $side-spacer;
		background: $wild-sand;
		margin-bottom: 35px;
		.list-container {
			display: grid;
			grid-template-columns: 400px 400px 400px;
			grid-template-rows: 340px;
			gap: 11px;
			margin-top: 20px;

			.panel {
				.image-container {
					height: 300px;
					display: flex;
					justify-content: center;
					overflow: hidden;
					align-items: center;
					background: $alto;
					img {
						height: 100%;
					}
					position: relative;
					.circle {
						position: absolute;
						top: 5px;
						right: 5px;
					}
					.status {
						position: absolute;
						top: 0;
						left: 0;
						padding: 0 5px;
						color: $white;
						text-transform: capitalize;
						&.retail {
							border: 1.5px solid $black;
							background: $black;
						}
						&.distressed {
							color: $black;
							border: 1.5px solid $black;
							background: $white;
						}
						&.rental {
							border: 1.5px solid $azure;
							background: $azure;
						}
						&.flip {
							border: 1.5px solid $neptune;
							background: $neptune;
						}
					}
				}
				.info-row {
					height: 40px;
					background: $black;
					color: $white;
					align-items: center;
					padding: 0 15px;
					display: flex;
					justify-content: space-between;
					font-size: $medium-text;
					.value {
						font-weight: $heavy-weight;
					}
				}
			}
		}
	}
}
